@page
@model BarberShop.Pages.Workplace.MainModel
@{
    Layout = "StylistLayout";
}

<h2>Список рабочих мест</h2>

<div>
    <div>
        <p><a asp-page="Create">Добавить рабочее место</a></p>
    </div>

    <form asp-action="./Main" method="post">
        <div class="form-actions no-color">
            <p>
                Поиск по номеру: <input type="text" name="number" />
                <input type="submit" value="Поиск" /> |
                <a asp-action="./Main">Вывести полный список</a>
            </p>
        </div>
    </form>

    <form asp-action="./Main" method="post">
        <div class="form-actions no-color">
            <p>
                Фильтр по нику работника: <input type="text" name="username" />
                <input type="submit" value="Фильтр" /> |
                <a asp-action="./Main">Вывести полный список</a>
            </p>
        </div>
    </form>

    @if (Model.workplaces == null)
    {
        <p>Информация не найдена!</p>
    }
    else
    {
        <table>
            <tr>
                <th>@Html.ActionLink("Номер", "Main", new { sortOrder = ViewBag.NumberSortParm })</th>
                <th>@Html.ActionLink("Ник работника", "Main", new { sortOrder = ViewBag.StylistSortParm })</th>
                <th></th>
            </tr>
            @{
                for (var i = 0; i < Model.workplaces.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.workplaces[i].number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.stylists[i].username)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@Model.workplaces[i].id">Редактировать</a> |
                            <a asp-page="./Delete" asp-route-id="@Model.workplaces[i].id">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }

</div>