@page
@model BarberShop.Pages.Equipment.DeleteModel
@{
    Layout = "StylistLayout";
}
<h1>Удаление специальности</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Вы уверены, что хотите удалить данный объект?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.equipment.name)
        </dd>
        <dt class="col-sm-2">
            Срок службы
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.equipment.serviceLife)
        </dd>
        <dt class="col-sm-2">
            Срок использования
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.equipment.operatingTime)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.equipment.price)
        </dd>
        <dt class="col-sm-2">
            Рабочее место
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.equipment.workplace.number)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="equipment.id" />
        <input type="submit" value="Подтвердить"/> |
        <a asp-page="./Main">Назад</a>
    </form>
</div>