@model WorkerEntity

@{
    ViewData["Title"] = "Create";
}

<h2>Добавление нового работника</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Работник</legend>

        <p>
            Имя работника <br />
            @Html.EditorFor(model => model.name)
        </p>

        <p>
            Фамилия работника <br />
            @Html.EditorFor(model => model.surname)
        </p>

        <p>
            Должность  <br />
            @Html.EditorFor(model => model.position)
        </p>
        <p>
            Офис <br />
            @Html.DropDownListFor(model => model.officeId, ViewBag.Offices as SelectList)
        </p>

        <p>
            <input type="submit" value="Добавить работника" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("К списку работников", "Index")
</div>