@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<h2>Список работников</h2>
<p>
    @Html.ActionLink("Добавить работника", "Create")
</p>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Фамилия работника: </label>
        <input name="surname" class="form-control" />

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>

<table>
    <tr>
        <th>Имя работника</th>
        <th>Фамилия работника</th>
        <th>Должность</th>
        <th>Офис</th>
        <th></th>
    </tr>

    @if (Model == null)
    {<p>No Workers!</p>}
    @foreach (var item in Model.workers)
    {
        if (item.surname == ViewBag.Surname || ViewBag == null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    @{
                        Office office = Model.offices.FirstOrDefault(i => i.id == item.officeId);
                        if (office != null)
                        {
                            @office.name
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id })
                </td>
            </tr>
        }
     }
</table>
<p>
    @Html.ActionLink("Список офисов", "OfficeDetails")
</p>

<p>
    @Html.ActionLink("Показать полный список", "AllWorkers")
</p>