@page
@model BarberShop.Pages.Speciality.MainModel
@{
    Layout = "StylistLayout";
}

<h2>Список специальностей</h2>

<div>
    <div>
        <p><a asp-page="Create">Добавить специальность</a></p>
    </div>

    <form asp-action="./Main" method="post">
        <div class="form-actions no-color">
            <p>
                Поиск по названию: <input type="text" name="name" />
                <input type="submit" value="Поиск" /> |
                <a asp-action="./Main">Вывести полный список</a>
            </p>
        </div>
    </form>

    <form asp-action="./Main" method="post">
        <div class="form-actions no-color">
            <p>
                Фильтр по образованию: <input type="text" name="education" />
                <input type="submit" value="Фильтр" /> |
                <a asp-action="./Main">Вывести полный список</a>
            </p>
        </div>
    </form>

    @if (Model == null)
    {
        <p>Информация не найдена!</p>
    }
    else
    {
        <table>
            <tr>
                <th>@Html.ActionLink("Название", "Display", new { sortOrder = ViewBag.NameSortParm })</th>
                <th>Образование</th>
                <th>@Html.ActionLink("Опыт работы, лет", "Display", new { sortOrder = ViewBag.ExperienceSortParam })</th>
                <th></th>
            </tr>
            @{
                foreach (var m in Model.specialities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => m.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.education)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.experience)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@m.id">Редактировать</a> |
                            <a asp-page="./Delete" asp-route-id="@m.id">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </table>
    }

</div>